* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passport {
  background-color: #fff;
  padding: 4rem 2rem 2rem;
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.passport__item {
  position: relative;
  margin: 0 0 20px;
}